li{

   list-style: none;
   text-align: right;
   margin-right: 20px;
   margin-top: -20px;

}
.logo{
   margin: left 20px; 
   color: #a77252;
   

}


h1{ 
    text-align: center;
    color: #1a2b44;
}

section{
    color:#1a2b44 ;
}

body{
    background-color:seashell;
}