
:root {
    --main-color:#1a2b44;
    --secondary-color:#a77252;
    --darky: black;
    --lighty: #fff;
 }
 * {
    box-sizing: border-box;
    padding:0;
    margin: 0;
   
 }
 header {
     display: flex;
     width: 100%;
     height: 120px;
 }


 .titre{
     display: flex;
     color: #fde035;
    font-size: clamp(20px, 6vw, 100px);
    text-align: center;
    
 }


 

nav{ 
    position: fixed;
    list-style-type: none;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color :lighty; 
    
}   
    
.imglogo{
    margin: left 20px; 
    color: #a77252;
    width: 100px;
    height: 100px;
 }
   
ul{
    list-style-type: none;
    display: flex;
    gap : 10px;
    flex-direction: column;
    
    
} 
li{
    font-size: clamp( 3px, 4px, 7px);
}

a {
    color :var(--lighty);
    text-decoration: none;
    font-size: 20px;

}

section{
    color:#1a2b44 ;
}



 
 h1{ 
     text-align: center;
     color: #a77252;       
 }
 
 section{
     color:var(--main-color) ;
 }

 p{
     color:var(--main-color);
 }
 
 h3{
     display:flex;
     justify-content: center;
     color: var(--main-color);
 }
 body{
     background-color: #8cb191;
     padding : 0;
     text-align : center;
     background-color: #8cb191;
 }

/**Tableau indiquant le jour ainsi que l'adresse du food truck */


table {
    border-collapse: collapse; /* Les bordures du tableau seront collées */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caption-side: top;
    background-color: DDD;

}

td, th {
    border: 2px solid black;
    width : clamp(60px, 10vw, 100px);
    background-color: #DDD;
}

/**logo des réseaux du truck*/



 .patisseries{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12,100px);
    gap: 10px;
 }
.patisserie{
    height: 100px;
    width: 100px;
    
}
footer{
    display: flex;
    




}
 .facebook , .insta{
     
    display: flex;
    height: 60px;
    width: 60px;
 }
