
:root {
    --main-color:#1a2b44;
    --secondary-color:#a77252;
    --darky: black;
    --lighty: #ddd;
 }

 * {
    box-sizing: border-box;
    padding:0;
    margin: 0;
 }

 header {
     display: flex;
     width: 100%;
     height: 120px;
 }


 .titre{
     display: flex;
     color: #fde035;
    font-size: clamp(20px, 6vw, 100px);
    text-align: center;
    
 }


nav{ 
    position: fixed;
    list-style-type: none;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color :lighty; 
    
}   
    
.imglogo{
    margin: left 20px; 
    color: #a77252;
    width: 100px;
    height: 100px;
 }
   
ul{
    list-style-type: none;
    display: flex;
    gap : 10px;
    flex-direction: column;
    
} 

li{
    font-size: clamp( 3px, 4px, 7px);
    color : var(--secondary-color)
}

.menu {
    gap : 0px;
    margin-right: 5px;
    margin-top: 0px;
}

.menus {
    border : 2px solid white;
    
}

.menusName {
    color : #fde035;
}

a {
    color :var(--lighty);
    text-decoration: none;
    font-size: 20px;

}

section{
    color:#1a2b44 ;
}

 
 h1{ 
     text-align: center;
     color: #a77252; 
     background-color: #fde035;  
     border-radius: 50px;    
    
 }
 
 section{
     color:var(--main-color) ;
 }

 p{
     color:var(--main-color);
 }
 
 .imgfoodtruck {
     width : 400px;
 }

h4 {
    color : #a77252;
}

 #presentationText {
    display:-ms-inline-grid;
    height: auto;
    width:auto;
    border: 2px solid black;
    margin : 5px;
    border-radius: 10px;
    background-color: #DDD;
    box-shadow: 1px 1px 1px black inset;
 }

 .marcPicture {
     width : 300px;
 }
 
 h3{
     display:flex;
     justify-content: center;
     color: var(--main-color);
 }
 body{
     background-color: #8cb191;
     padding : 0;
     text-align : center;
     background-color: #8cb191;
 }

/**Tableau indiquant le jour ainsi que l'adresse du food truck */


table {
    border-collapse: collapse; /* Les bordures du tableau seront collées */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caption-side: top;
    background-color: DDD;

}

td, th {
    border: 2px solid black;
    width : clamp(60px, 10vw, 100px);
    background-color: #DDD;
    font-size: 14px;
}

/**logo des réseaux du truck*/


.patisseries{

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(12,150px);
    border-left: 1px solid black;
}

.patisserie{

    height: 150px;
    width: 180px;
    gap:10px;
    margin-bottom:10px ;

}
.def{
    display:-ms-inline-grid;
    height: auto;
    width:auto;
    border: 1px solid black;
    padding: 25px;
}

footer{
    display: flex-box;
    border-top:1px solid black ;
    align-items: center;

}

.facebook , .insta{
     
    display: inline-flex;
    height: 60px;
    width: 60px;
 }

 @media  screen and (min-width: 600px){
    
    .titre{
        color: violet;
        
    }
    
    h1{ 
        text-align: center;
        color: var(--main-color);
        background-color:var(--secondary-color) ;
        border:5px solid #1a2b44; 
        border-radius: 10px;
    }

    
    .patisseries{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(6,564px);
        border-left: 1px solid black;
    }

    .def{
        display:-ms-inline-grid;
        height: auto;
        width:auto;
        border: 3px solid #a77252;
        padding: 130px;
        font-size: 3.5vh;
    }
    .patisserie{
        height: 564px;
        width: 564px;
        gap:10px;
        margin-bottom:10px ;
        
    
    }
.imgfoodtruck{
    width : 700px;
}
    
    .menu{
        list-style-type: none;
        display: flex;
        gap : clamp(10px, 12px, 20px);
        flex-direction: row;
        margin-right: 5px;
    } 
    
    .menus{
        font-size: clamp( 3px, 4px, 20px);   
        color : var(--secondary-color);
        text-align : end;
    }
 }
