:root {
    --main-color:#1a2b44;
    --secondary-color:#a77252;
    --darky: black;
    --lighty: #fff;
 }

<<<<<<< HEAD
     
header{
    display: flex;
    width: 100%;
    height: 100px;
}


.imglogo{
    margin: left 20px; 
    color: #a77252;
    width: 100px;
    height: 100px;
 }


* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
   }


 .titre{
     display: flex;
     color: #fde035;
    font-size:clamp(20px, 12vw, 200px);
    text-align: center;
    font-style:italic;
    
=======
 * {
    box-sizing: border-box;
    padding:0;
    margin: 0;
   
>>>>>>> e004451dc5cbd7b50073214b162aa703f5c8b4b3
 }

 /*CSS par défault*/

 nav{ 
    position: fixed;
    list-style-type: none;
   /* width: 100%;
     height: 100px;*/
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between; 
<<<<<<< HEAD
    color:lighty;
  
}   

   
nav > ul{
=======
    color :lighty; 
}   

 .titre{
     display: flex;
     color: #fde035;
    font-size: clamp(20px, 6vw, 100px);
    text-align: center;
    /*changement des tailles font size pour un site first mobile*/
 }
    
.imglogo{
    margin: left 20px; 
    color: #a77252;
    width: 100px;
    height: 100px;
 }
   
ul{
    box-sizing: border-box;
>>>>>>> e004451dc5cbd7b50073214b162aa703f5c8b4b3
    list-style-type: none;
    display: flex;
    gap : 10px;
    flex-direction: column;
    }
    
    
nav li{
    font-size:clamp( 3px, 4px, 7px);
}



a{
    color :var(--lighty);
    text-decoration: none;
    font-size: 20px;

}

<<<<<<< HEAD
section{
    color:#1a2b44;
    color:var(--main-color);
=======
header {
    display: flex;
    width: 100%;
    height: 100px;
>>>>>>> e004451dc5cbd7b50073214b162aa703f5c8b4b3
}
 
 h1{ 
     text-align: center;
     color: #a77252;       
 }
 


 p{
     color:var(--main-color);
 }
 
 h3{
     display:flex;
     justify-content: center;
     color: var(--main-color);
 }


 body{
     padding: 0px;
     margin: 0px;
     background-color: #8cb191;
     text-align : center;
     background-color: #8cb191;
 }


 .contactform{
    border : inset 1px --darky;
    background-color :var(--main-color);
    color :var(--lighty);
    display: flex;
    width: 40%;
    text-align : right;
    padding-right : 5px;
 }


/**Tableau indiquant le jour ainsi que l'adresse du food truck */


table{
    border-collapse: collapse; /* Les bordures du tableau seront collées */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caption-side: top;
}

td, th{
    border: 1px solid black;
    width : clamp(60px, 10vw, 100px);
}

/**logo des réseaux du truck*/


<<<<<<< HEAD
 .patisseries{
=======

.patisseries{
>>>>>>> e004451dc5cbd7b50073214b162aa703f5c8b4b3
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12,100px);
    gap: 10px;
 }


.patisserie{
    height: 100px;
    width: 100px;
}


footer{
    display: flex;
<<<<<<< HEAD
    
=======
    align-items: center;
>>>>>>> e004451dc5cbd7b50073214b162aa703f5c8b4b3
}


.facebook , .insta{
     
    display: flex;
    height: 60px;
    width: 60px;
 }

 .link{
     display:flex;


 }

.Endpage{
    list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
 }
